.footer{
   display: flex;
   align-items: flex-end;
}

.footer textarea{
    flex-grow: 1;
}

.footer button{
    background-image: url([[pix:block_aiassistant|send]]);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
}

.chat {
    height: 30vw;
    scroll-behavior: smooth;
    overflow-y: auto;
}

.message {
    max-width: 70%;
    width:fit-content;
    padding: 5px;
    margin: 4px 0;
    border-radius: 12px;
}

.message-time {
    font-size: 0.5rem;
    text-align: right; 
}

#assistant{
    background-color: rgb(0, 195, 255);
    margin-right: auto;
}

#user{
    background-color: rgb(133, 184, 241);
    margin-left: auto;
}

@keyframes loading-indicator {
    to {
        transform: rotate(360deg);
    }
}
.loading-indicator:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: rgb(22, 26, 34);
    animation: spinner 0.6s linear infinite;
} 